body {
    background-image: url(../Assets/background.jpg);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#settings {
    width: 500px;
    height: 350px;
    position: absolute;
    background-color: aqua;
    top: 200px;
    left: 600px;
    border-radius: 3px 15px 5px 30px;
    background: url(../Assets/workSpace.png);
}

#gemuseGarten {
    position: absolute;
    left: 600px;
    color: white;
}

#text {
    font-weight: bold;
    color: white;
    text-align: center;
}

#firstSetting {
    text-align: center;
    text-align: left;

}

#settingField {
    text-align: center;
    color: white;
}

#startGame {
    position: absolute;
    left: 190px;
    top: 250px;
    font-size: large;
}

.slider::after {

    content: "100";
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 65%;
    top: 28%;

}

.slider::before {

    content: "1";
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 33%;
    top: 28%;

}


.secondSlider::after {

    content: "stark";
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 65%;
    top: 62%;

}

.secondSlider::before {

    content: "wenig";
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 23%;
    top: 62%;

}

#capitalSetting {
    height: 100px;
}

#startGame {
    top: 320px;
}


#logo {
    position: absolute;
    left: 800px;
    top: 85px;
}